<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor Plan</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/css/style.css') }}"
    />
  </head>
  <script
    defer
    src="https://unpkg.com/htmx.org@1.9.11"
    integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
    crossorigin="anonymous"
  ></script>
  <body>
    <h1>WItamy na stronie dla korepetytorów</h1>
    <h2>
      Na tej stronie możesz stworzyć swoj plan zajęć! Wystarczy się
      zarejestrować
    </h2>
    <div class="centerDiv">
      <a href="/login" id="loginButton">Zaloguj</a>
      <a href="/register" id="registerButton">Zarejestruj</a>
    </div>
  </body>
</html>
