<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/css/style.css') }}"
    />
  </head>
  <body>
    <a href="/" id="backButton">Wróć</a>
    <h1>Zaloguj się</h1>
    <div class="teacherFormDiv">
      <form id="teacherForm" method="POST" action="/login">
        <label for="email">Email:</label><br />
        <input type="email" id="email" name="email" required /><br />

        <label for="password">Hasło:</label><br />
        <input type="password" id="password" name="password" required /><br />
        <button id="addButton" class="button" type="submit">Zaloguj</button>
      </form>
    </div>
  </body>
</html>
